body {
  display: grid;
  margin: 15px 15px 50px 15px; }
  body #header {
    justify-self: center;
    margin: 25px 15px 15px 15px; }
  body #navigation .menu {
    margin-top: 10px;
    display: inline;
    font-size: 25px;
    padding-left: 10px; }
  body #navigation nav {
    -webkit-transition: height .5s ease;
    -o-transition: height .5s ease;
    transition: height .5s ease;
    overflow: hidden;
    display: none; }
    body #navigation nav ul {
      padding: 0;
      transition: visibility 0s, opacity 0.5s linear; }
      body #navigation nav ul li {
        list-style: none;
        font-size: 20px;
        padding: 10px;
        border: 1px solid black; }
      body #navigation nav ul .home {
        background-color: #252f4f;
        color: #fff; }
  body #breadcrumbs {
    margin-top: 10px; }
    body #breadcrumbs .crumbs {
      opacity: .5; }
    body #breadcrumbs .item {
      display: inline;
      opacity: 1; }
  body #hero {
    margin-top: 10px;
    display: grid; }
    body #hero img {
      justify-self: center;
      max-width: 340px; }
  body #preview {
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column; }
  body #description .quantity {
    border: 1px solid black;
    display: inline-block;
    padding: 5px 20px; }
    body #description .quantity .fas {
      padding-left: 15px;
      margin-right: -15px; }
  body #expanded {
    margin-top: 10px;
    border-top: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black; }
    body #expanded .more {
      padding: 10px; }
      body #expanded .more.active {
        display: none; }
    body #expanded .expanded1, body #expanded .expanded2, body #expanded .expanded3 {
      -webkit-transition: height .5s ease;
      -o-transition: height .5s ease;
      transition: height .5s ease;
      overflow: hidden;
      display: none; }
      body #expanded .expanded1.active, body #expanded .expanded2.active, body #expanded .expanded3.active {
        display: block;
        padding: 10px; }
        body #expanded .expanded1.active p, body #expanded .expanded2.active p, body #expanded .expanded3.active p {
          padding-left: 18px;
          margin-bottom: 0; }
  body #footer {
    text-align: center;
    padding: 15px; }
    body #footer .line2 {
      display: block; }
    body #footer .date {
      color: red; }

@media (min-width: 750px) {
  body {
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header    header    header   	   header" "nav       nav       nav      	   nav" "crumbs    crumbs    crumbs        crumbs" "hero      hero      description   description" "hero      hero      description   description" "hero      hero      expanded 	   expanded" "preview   preview   .  	         ." "footer    footer    footer   	   footer"; }

  #header {
    grid-area: header; }

  #navigation {
    grid-area: nav; }
    #navigation i, #navigation div.menu {
      display: none; }
    #navigation nav.inactive {
      display: block; }
      #navigation nav.inactive ul {
        display: grid;
        grid: 45px / auto-flow;
        background-color: #000; }
        #navigation nav.inactive ul li:not(:last-child) {
          color: #fff;
          justify-self: center; }
        #navigation nav.inactive ul li:last-child {
          text-align: center;
          border-left: 1px solid white; }

  #breadcrumbs {
    grid-area: crumbs; }
    #breadcrumbs .crumbs {
      display: inline;
      padding-left: 15px; }

  #hero {
    grid-area: hero; }
    #hero img {
      max-width: none !important;
      width: auto;
      margin: 30px; }

  #preview {
    grid-area: preview;
    justify-self: center;
    grid-gap: 25px;
    margin-bottom: 25px; }
    #preview img {
      width: auto; }
    #preview img:nth-child(2) {
      width: auto; }

  #description {
    grid-area: description; }

  #expanded {
    grid-area: expanded; }
    #expanded #more1, #expanded #more2, #expanded .expanded1, #expanded .expanded2 {
      border-bottom: 1px solid #EFEFEF; }
    #expanded .expanded1, #expanded .expanded2, #expanded .expanded3 {
      margin-top: 5px; }

  #footer {
    grid-area: footer;
    border-top: 1px solid black;
    background-color: #EFEFEF; }
    #footer .line2 {
      display: inline !important; } }

/*# sourceMappingURL=styles.css.map */
